# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Allmystuff\Studium\Computer_Simulations_in_Science_and_Engineering\KTH\Courses_Autumn_2022\Artifcial Neural Networks and Deep Architectures\Labs\ANN labs\Project 4\lab4_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
